<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Readers page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <div th:replace="wrapper/scripts-block :: css"></div>
    <div th:replace="wrapper/scripts-block :: scripts"></div>

</head>
<body>
    <div th:replace="wrapper/navbar :: navbar"></div>

    <div class="container mt-3">
        <div class="col m-3">
            <form id="frmReader" sec:authorize="hasAuthority('ADMIN')">

                <div class="form-group">
                    <div class="col-4">
                        <label for="user-select" class="col-form-label">Username</label>
                        <div class="col">
                            <select id="user-select" name="username" class="js-example-basic-single" style="width: 70%;">
                                <option th:each="i : ${usersList}" th:value="${i.getUsername()}" th:text="${i.getUsername()}">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-2">
                    <div class="col-4">
                        <label for="book-select" class="col-form-label">Book</label>
                        <div class="col">
                            <select id="book-select" name="book" class="js-example-basic-single" style="width: 70%;">
                                <option th:each="i : ${booksList}" th:value="${i.getName()}" th:text="${i.getName()}">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="mt-3 offset-md-2">
                    <button type="submit" class="btn btn-success">Add new</button>
                </div>
            </form>
        </div>

        <h4>Readers Table</h4>
        <table id="usersTable" class="display">
            <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Book</th>
                <th>Date</th>
                <th>#Action</th>
            </tr>
            </thead>
        </table>
    </div>

    <script type="text/javascript">
    $(document).ready(function() {
    getAll();

  $("#frmReader").submit(function(event) {
 				event.preventDefault();
 				addReader();
 			});

 function addReader() {
    if($("#frmReader").valid()) {
        var formData = {
            username : $("#user-select").val(),
            book : $("#book-select").val(),
            startedOn : $("#date-input").val()
        }

        console.log(formData);

        $.ajax({
        					type : "POST",
        					contentType : "application/json",
        					url : "admin/api/readers/add-book",
        					data : JSON.stringify(formData),
        					dataType : 'json',
        					success : function(data) {
        					    console.log(data);
        						getAll();
        					}
        				});
    }
 }})

function getAll() {
    $('#usersTable').dataTable().fnDestroy();
    $.ajax({
        type : "GET",
        url : 'api/readers',
        dataType: 'JSON',
        success: function(data){
            $('#usersTable').DataTable({
                "sAjaxSource": 'api/readers',
                "sAjaxDataProp": "",
                "order": [ [ 0, "desc" ] ],
            	    "aoColumns": [
            		    { "mData": "id" },
            		    { "mData": "username" },
                        { "mData": "book" },
                        { "mData": "startedOn" },
                        {
                            "mData": null,
                            render: function(data) {
                                return '<button type="button" class="btn btn-danger" onclick="deleteById(\''+data.book+'\',\'' + data.username+ '\');">Delete</button>'
                            }
                        }
            		]
            	 });
            },
        });

}

function deleteById(book, user) {
    // !selected value
    var formData = {
            username : user,
            book : book
    }

    console.log(formData);

    $.ajax({
        					type : "DELETE",
        					contentType : "application/json",
        					url : "admin/api/readers/remove-book",
        					data : JSON.stringify(formData),
        					dataType : 'json',
        					success : function(data) {
        					    console.log("removed by book="+ data.book + "from user=" + data.user);
        						getAll();
        					}
    });
}


</script>
</body>
</html>