<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <div th:replace="wrapper/scripts-block :: css"></div>
    <div th:replace="wrapper/scripts-block :: scripts"></div>

</head>
<body>
    <div th:replace="wrapper/navbar :: navbar"></div>

    <div class="container mt-3">
        <h4>Users Table</h4>
        <table id="usersTable" class="display">
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Role</th>
            </tr>
            </thead>
        </table>
    </div>

</body>
</html>