<nav th:fragment="navbar" class="navbar navbar-expand-md navbar-light" style="background-color: #52be80;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand p-1" th:href="@{/}">
    Book library
  </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/books}">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/readers}">Users</a>
      </li>
    </ul>
  </div>

  <div class="dropdown d-flex ms-md-auto">
    <a href="#" class="align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
      <strong th:inline="text">Welcome, [[${#httpServletRequest.remoteUser}]]</strong>
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser" style="">
      <li><a class="dropdown-item bi bi-house-door" th:href="@{/users/profile}"> My library</a></li>
      <li><hr class="dropdown-divider"></hr></li>
      <form th:action="@{/logout}" method="post">
        <li><input class="dropdown-item text-danger" type="submit" value="Sign Out"/></li>
      </form>
    </ul>
  </div>
</nav>