<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Books page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <div th:replace="wrapper/scripts-block :: css"></div>
    <div th:replace="wrapper/scripts-block :: scripts"></div>

</head>
<body>
    <div th:replace="wrapper/navbar :: navbar"></div>
<!--    <div class="container">-->
<!--        <div id="getBooksDiv" style="padding:20px 10px 20px 50px">-->
<!--            <ul class="list-group"></ul>-->
<!--        </div>-->
<!--    </div>-->

    <div class="container mt-3">
        <div class="col m-3">
            <form id="frmBook" sec:authorize="hasAuthority('ROLE_ADMIN')">
                <div class="form-group">
                    <div class="col-4">
                        <label for="name-input" class="col-form-label">Name</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="name" id="name-input">
                        </div>
                    </div>
                </div>

                <div class="form-group mt-2">
                    <div class="col-4">
                        <label for="date-input" class="col-form-label">Date</label>
                        <div class="col-9">
                            <input class="form-control" name="calendarDate" type="date" value="2011-08-19"
                                   id="date-input" contenteditable="true" spellcheckker="false">
                        </div>
                    </div>
                </div>

                <div class="form-group mt-2">
                    <div class="col-4">
                        <label for="condition-select" class="col-form-label">Condition</label>
                        <div class="col">
                            <select id="condition-select" name="condition" class="js-example-basic-single" style="width: 40%;">
                                <option th:each="i : ${condition}" th:value="${i.getDescription()}"
                                        th:text="${i.getDescription()}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="mt-3 offset-md-2">
                    <button type="submit" class="btn btn-success">Add new</button>
                </div>
            </form>
        </div>

        <h4>Books table</h4>

        <table id="booksTable" class="display">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Condition</th>
                <th>Date</th>
                <th>#Action</th>
            </tr>
            </thead>
        </table>
    </div>

    <script type="text/javascript">
    $(document).ready(function() {
    getAll();

  $("#frmBook").submit(function(event) {
 				event.preventDefault();
 				addBook();
 			});

 function addBook() {
    if($("#frmBook").valid()) {
        var formData = {
            name : $("#name-input").val(),
            condition : $("#condition-select").val(),
            calendarDate : $("#date-input").val()
        }

        console.log(formData);

        $.ajax({
        					type : "POST",
        					contentType : "application/json",
        					url : "api/v1/admin/books",
        					data : JSON.stringify(formData),
        					dataType : 'json',
        					success : function(data) {
        					    console.log(data);
        						getAll();
        					}
        				});
    }
 }})

function getAll() {
    $('#booksTable').dataTable().fnDestroy();
    $.ajax({
        type : "GET",
        url : 'api/v1/books',
        dataType: 'JSON',
        success: function(data){
            $('#booksTable').DataTable({
                "sAjaxSource": 'api/v1/books',
                "autoWidth": true,
                "sAjaxDataProp": "",
                "order": [ [ 0, "desc" ] ],
            	    "aoColumns": [
            		    { "mData": "id" },
            		    { "mData": "name" },
                        { "mData": "condition" },
                        { "mData": "calendarDate" },
                        {
                            "mData": null,
                            render: function(data) {
                                return '<button type="button" class="btn btn-danger" onclick="deleteById('+data.id+')">Delete</button>'
                            }
                        }
            		]
            	 });
            },
        });

}

function deleteById(id) {
    $.ajax({
        					type : "DELETE",
        					url : "api/v1/admin/books/"+id,
        					dataType : 'json',
        					success : function(data) {
        					    console.log("removed by id=" + id);
        						getAll();
        					}
        				});
}


</script>
</body>
</html>