<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <div th:replace="wrapper/scripts-block :: css"></div>
    <div th:replace="wrapper/scripts-block :: scripts"></div>

</head>
<body>
    <div th:replace="wrapper/navbar :: navbar"></div>

    <div class="container">
        <h1>Main page</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis consequat leo, quis vulputate elit. Donec
            aliquet, felis vitae interdum sagittis, sapien lorem mollis nulla, blandit posuere lacus nulla at elit.
            Integer nunc enim, vehicula ut suscipit ac, consequat ut est. In hac habitasse platea dictumst. Curabitur
            vitae lorem orci. Proin vel magna non lorem cursus egestas quis et velit. Nam dapibus leo ut ultrices
            mollis. Nam posuere fringilla venenatis. Morbi vel blandit turpis, eu egestas elit. Pellentesque
            pellentesque eros non arcu tincidunt, id vehicula est bibendum. Maecenas diam diam, malesuada at convallis
            sit amet, consequat ac mauris. Praesent elementum posuere mauris, quis ullamcorper tortor tincidunt in.
            Pellentesque dapibus efficitur gravida.</p>

        <p>Curabitur sed lectus commodo, pretium neque a, semper nunc. Maecenas ac urna elementum sem mattis semper.
            Donec nec tristique risus. Etiam non fringilla ante. Ut sodales lorem quis lacus fermentum porta.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris ut
            rhoncus sem. In placerat, nulla id gravida rhoncus, nulla ante molestie ligula, non accumsan purus lorem in
            justo. Nam mattis augue sed rhoncus interdum. Nulla dolor ligula, pretium vel euismod a, viverra feugiat
            diam. Phasellus eu lorem non eros facilisis tempus. Praesent aliquet libero ex,
            in semper arcu pharetra eget.</p>
    </div>

</body>
</html>