<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <div th:replace="wrapper/scripts-block :: css"></div>
    <div th:replace="wrapper/scripts-block :: scripts"></div>

</head>
<body>
    <div th:replace="wrapper/navbar :: navbar"></div>

    <div class="container">
        <h1>Main page</h1>
    </div>

</body>
</html>