<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{title.login}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <div th:replace="wrapper/scripts-block :: css"></div>
</head>
<body>

<section class="vh-100" style="background-color: #52be80">
    <div class="container py-4 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center">
                        <img class="img-fluid d-block mx-auto mb-4"
                             src="https://faceit-team.com/images/logo/logo_header.svg" alt="">

                        <form th:action="@{/login}" method="post">

                            <div class="alert alert-success" role="alert" th:text="${verifiedAccountMsg}" th:if="${verifiedAccountMsg}"></div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                                <label th:text="#{label.username}" for="username"></label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                                <label th:text="#{label.password}" for="password"></label>
                            </div>

                            <div th:if="${param.error}" class="text-danger mb-4" th:text="#{param.error}"></div>

                            <div class="d-grid gap-2 col-12 mx-auto">
                                <button class="btn btn-success" type="submit" th:text="#{button.signin}"></button>
                            </div>
                        </form>

                        <hr class="my-4">

                        <div>
                            <p class="gl-mt-3" th:text="#{p.signup}"></p>
                            <a th:href="@{/register}" th:text="#{button.register.now}"></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>